$font : #2F2E2E; 
$red  : #8D2959;
$pink : #C694AC;
$grey : #F7F7F7;
$title : #2F2E2E;
$footer : #F6F6F7;
$mainColor : #2F2E2E;
$Roboto : 'Roboto', sans-serif;
$PTSans : 'PT Sans', sans-serif;

body{ max-width: 1920px; overflow-x: hidden; margin: 0 auto; font-family: $Roboto; font-weight: 400; font-size: 18px; color: $mainColor; line-height: normal; }
h1, h2{ font-family: $Roboto; text-transform: uppercase; }
h1{ font-size: 80px; font-weight: 700; }
h2{ font-size: 40px; text-align: center; color: $title; padding: 55px 0 80px 0; font-weight: 900; }

.social{
	display: flex;
	align-items: center;
	justify-content: center;
		a{ 
			color: #fff; width: 30px; height: 30px; border-radius: 50%; text-decoration: none; margin-right: 7px;
				.fa{ display: flex; align-items: center; justify-content: center; width:100%; height: 100%; }  
		}
		.icon-instagram{ background: #ff0079; }
		.icon-facebook{ background: #4D76A1; }
		.icon-vk{ background: #7CB8DD; }
} 

header{
	position: relative;
		#fixhead{
			position: absolute;
			z-index: 1;
			top: 0;
			width: 100%;
			background: rgba(255,255,255,0.8);
			display: flex;
			align-items: center;
			overflow: hidden;
				.logo-wrapper{ 
					margin-right: 3vw; 
						#logo{ background: url(images/logo.png) no-repeat; background-size: contain; width: 42vw; height: 48px; }
				}
				.menu-wrapper{ 
					display: flex;
					align-items: center;
					margin-right: 90px;
						.phone{
							display: flex;
							align-items: center;
							justify-content: center;
							margin-right: 35px;
								.phone-icon{ 
									display: inline-block; margin-right: 10px; width: 25px; height: 25px; background: $red; color: #FFF; border-radius: 50%; font-size: 13px;
										.fa{ display: flex; align-items: center; justify-content: center; width:100%; height: 100%; }  
								}
								a{ font: 400 16px $Roboto; color: #000000; text-decoration: none; }
						}
						.menu{
							padding: 0;
							margin-bottom: 0; 
								li { 
									display: inline-block;
									padding: 18px 8px 12px 8px;
									line-height: 0;
									-webkit-transition: all 0.15s; -moz-transition: all 0.15s; -o-transition: all 0.15s; transition: all 0.15s; 
										a{ text-decoration: none; font: 400 15px $Roboto; text-transform: uppercase; color: #2F2E2E; } 
								}
								li.current{ background: $red; color: #FFF; }
								li:hover{
									-webkit-transition: all 0.15s; -moz-transition: all 0.15s; -o-transition: all 0.15s; transition: all 0.15s;
									background: $red; 
								}
								li:hover a{
									text-decoration: underline; color: #FFF;
								}
						}
				}
		}
		#slide{
			color: #FFF;
			position: relative;
				h1{ color: #FFF; }
				.slide-text{
					display: flex;
					justify-content: center;
    			flex-direction: column;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
						h3{ font: 700 40px $PTSans; text-transform: uppercase; margin-bottom: 22px; }
						.text{
							font: 400 25px $PTSans;
						}
				}
		}
}

header.page{
	#slide{
			.slide-text{
				justify-content: flex-end;
					h1{
						line-height: 1;
						margin: 0;
						padding-bottom: 70px;
					}
				}
	}
}

.breadcrumbs{ padding: 35px 0 70px 0; }
.dark_bg{ background: rgba(0,0,0,0.2); position: absolute; width: 100%; height: 100%; top: 0; }

.filter-wrapper{
	display: block;
	width: 100%;
	margin-bottom: 10px;
		.filter-item{ cursor: pointer; display: inline-block; border: 1px solid $red; padding: 10px; text-align: center; margin-right: 20px; }
}

.city-page{
	padding-bottom: 60px;
		h2{ padding-top: 0; }
} 


footer{ 
	background: $footer;
	position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  	h3{ font: 700 40px $Roboto; text-transform: uppercase; color: #686868; margin-top: 30px; }
  	.footer-logo{ max-height: 65px; }
  	.footer-menu-wrapper{ 
  		display: flex;
  		align-items: center;
  		margin-top: 65px; 
  		margin-bottom: 40px;
  		.footer-menu{ 
  			margin-right: 65px; padding: 0; margin-bottom: 0; 
  				li{ 
  					display: inline-block;
  					margin-right: 8px; 
  						a{ font: 400 18px $Roboto; color: #686868; }
  				}
  		}
  	}
  	.georgia-support{
  			.head-support,.info-support{ display: inline-block; }
  			.head-support{ 
  				margin-right: 20px;
  					h5{ font: 700 20px $Roboto; color: #686868; margin-bottom: 0; } 
  			}
  			.info-support{
  					a{ font: 400 18px $Roboto; display: inline-block; margin-right: 10px; color: #686868; }
  			}
  	}
  	form{ 
  		font-size: 12px;
  		margin-top: 40px;
  		margin-bottom: 70px;
  			input{ padding: 20px 45px 15px 15px; max-width: 350px; width: 100%; } 
  			button{ padding: 20px; background: $red; border: none; width: 100px; cursor: pointer; }
  	}
		#footer_bg{ background: url(images/footer.png) no-repeat center center; background-size: cover; min-height: 100%; 
    position: absolute; right: 0; } 
		#footer_line{ background: $red; padding: 15px 0; text-align: center; color: #FFF; font-family: $Roboto; font-weight: 400; font-size: 12px; position: absolute; bottom: 0; width: 100%;
			a{ color: #FFF; }
		} 
}

#single_tour{ background: #F6F6F7;  padding-bottom: 50px; }
#mult_tour{ padding-bottom: 170px; }

body section .tour-item{  
	margin-bottom: 30px;
	position: relative;
		.tour-action{ position: absolute; top: 20px; left: 15 px; background: url(images/action.png) no-repeat; width: 105px; height: 62px; }
		> a{ color: $mainColor; text-decoration: none; }
		.tour-wrapper{
			padding: 20px;
			color: $title;
				h4{ font: 700 20px $PTSans; text-transform: uppercase; }
				p{ font: 400 14px $PTSans; color: rgba(104, 104, 104, 0.52); text-transform: lowercase; margin-bottom: 25px; }
				.city-icon, .time-icon{ 
					font: 400 16px $PTSans; 
					margin-bottom: 5px;
						.fa{ margin-right: 10px; }
				}
				.time-icon{ 
					font-size: 14px;
						.fa{ margin-right: 7px; }
    		}
    		.price-wrapper{
    			text-align: right;
    				.cost{
    					display: inline-block;
    						.price{ font: 700 40px $PTSans; text-align: right; color: $red; letter-spacing: 0; line-height: 0.7; }
    						span{ font: 400 14px $Roboto; color: #C4C4C4; display: block; text-align: left; }
    				}
    		}
    		.rev-wrap{
    			margin-top: 25px;
    				.rev-rating, .review{ display: inline-block; }
    				.rev-rating{ color: #F3C329; font-size: 16px; }
    				.review{ font: 400 16px $PTSans ; color: #C4C4C4; margin-left: 5px; }
    		}
    		.btn_tour{ font: 700 16px $PTSans; text-align: left; text-decoration-line: underline; color: $red; }
		}
}

.tour-page{
	padding-bottom: 70px;
}


.tour-info{
	padding: 15px 20px;
	-webkit-box-shadow: -10px 0 50px -10px #BBB;
  box-shadow: -10px 0 50px -10px #BBB;
}

#single_tour .load-more-wrapper{ margin-top: 50px; }
#mult_tour .load-more-wrapper{ margin-top: 60px; }

.load-more{ font: 700 18px $Roboto; color: #686868; text-transform: uppercase; text-decoration: underline; }

.about-work{
	padding-top: 35px;
	padding-bottom: 110px;
}

.work-item{
		span{ font: 900 200px Roboto; color: $pink; }
		h5{ font: 400 28px Roboto; }
		p{ font: 400 16px Roboto; line-height: 17px; }
}

#city{
	padding-bottom: 105px;
		p{ margin-bottom: 40px; }
		h2{ padding: 20px 0 40px 0; }
		.city-text{ font: 400 18px $Roboto; }
}

.shadow-wrapper{
			-webkit-box-shadow: 0px 0 20px 0px #BBB;
     	box-shadow: 0px 0 20px 0px #BBB;
     	overflow: hidden;
		}

.city{
	margin-bottom: 15px;
		a{ color: #333333; }
		img{ min-width: 100%; height: 100%; max-width: none; max-height: 320px; position: absolute; -moz-transform: scale(1); -o-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); -webkit-transition: all 0.15s; -moz-transition: all 0.15s; -o-transition: all 0.15s; transition: all 0.15s; }
		.city-wrapper{ 
			overflow: hidden;
			position: relative;
			min-height: 320px; 
				.city-overlay{ 
					position: absolute; bottom: 0px; padding-left: 23px; padding-top: 13px; max-width: 235px; background: rgba(255,255,255,1); color: $title;
						h5{ font: 700 20px $PTSans; text-transform: uppercase; margin-bottom: 10px; }
						p{ font: 400 12px $Roboto; }
				}
		}
		.city-wrapper:hover img{ 
			-webkit-transition: all 0.15s; -moz-transition: all 0.15s; -o-transition: all 0.15s; transition: all 0.15s;
			-moz-transform: scale(1.1); -o-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);
		}
}

.tour-guide{
	position: relative;
		h4{ position: absolute; font: 700 250px $Roboto; color: #E5E5E5; z-index: 1; text-align: center; left: 0; line-height: 0.9;
 		right: 0; margin: auto; top: 0; }
		.guide-wrap{
			position: relative;
    	z-index: 1;
    	padding: 70px 0;
				img{ max-width: 100%; }
				.guide-info{
					
				}
		}
}

.tour-guide-info{ 
	background: url(images/obzor.png) no-repeat; background-size: cover; max-height: 400px; padding: 245px 0 72px 0; color: #FFF; 
		h4{ font: 700 80px $Roboto; text-transform: uppercase; }
}

@media (min-width: 1200px){
	.container {
    max-width: 1170px;
	}
}



