$font : #2F2E2E; 
$red  : #8D2959;
$pink : #C694AC;
$grey : #F7F7F7;
$title : #2F2E2E;
$footer : #DDDDDF;
$mainColor : #2F2E2E;
$Roboto : 'Roboto', sans-serif;
$PTSans : 'PT Sans', sans-serif;

body{ max-width: 1920px; overflow-x: hidden; margin: 0 auto; font-family: $Roboto; font-weight: 400; font-size: 18px; color: $mainColor; line-height: normal; }
h1, h2{ font-family: $Roboto; text-transform: uppercase; }
h1{ font-size: 80px; }
h2{ font-size: 40px; text-align: center; color: $title; padding: 90px 0 60px 0; }

header{
	position: relative;
		#fixhead{
			position: absolute;
			z-index: 1;
			top: 0;
			width: 100%;
			background: rgba(255,255,255,0.8);
			display: flex;
			align-items: center;
				.logo-wrapper{ 
					margin-right: 230px; 
						#logo{ background: url(images/logo.png) no-repeat; background-size: contain; width: 582px; height: 52px; }
				}
				.menu-wrapper{ 
					display: flex;
					align-items: center;
					margin-right: 50px;
						.menu{
							margin-bottom: 0; 
								li { display: inline-block; margin-right: 5px; }
						}
				}
		}
		#slide{
			color: #FFF;
			position: relative;
				h1{ color: #FFF; }
				.slide-text{
					display: flex;
					justify-content: center;
    			flex-direction: column;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
		}
}

header.page{
	#slide{
			.slide-text{
				justify-content: flex-end;
					h1{
						line-height: 1;
						margin: 0;
						padding-bottom: 70px;
					}
				}
	}
}

.breadcrumbs{ padding: 35px 0 70px 0; }
.dark_bg{ background: rgba(0,0,0,0.2); position: absolute; width: 100%; height: 100%; top: 0; }

.filter-wrapper{
	display: block;
	width: 100%;
	margin-bottom: 10px;
		.filter-item{ cursor: pointer; display: inline-block; border: 1px solid $red; padding: 10px; text-align: center; margin-right: 20px; }
}

.city-page{
	padding-bottom: 60px;
		h2{ padding-top: 0; }
} 


footer{ 
	background: $footer;
	position: relative;
  overflow: hidden;
  min-height: 400px;
  	.footer-logo{ max-height: 65px; }
		#footer_bg{ background: url(images/footer.png) no-repeat center center; background-size: cover; min-height: 400px; 
    position: absolute; right: 0; } 
		#footer_line{ background: $red; padding: 15px 0; text-align: center; color: #FFF; font-family: $Roboto; font-weight: 400; font-size: 12px; position: absolute; bottom: 0; width: 100%;
			a{ color: #FFF; }
		} 
}

#single_tour{ background: #E5E5E5;  padding-bottom: 50px; }
#mult_tour{ padding-bottom: 170px; }

body section .tour-item{ 
	overflow: hidden; 
	margin-bottom: 30px;
		.review-rating, .review{ display: inline-block; }
		.review{ margin-left: 5px; }
		.btn_tour{ font-size: 16px; text-align: left; }
}

#single_tour .load-more-wrapper{ margin-top: 50px; }
#mult_tour .load-more-wrapper{ margin-top: 60px; }

.about-work{
	padding-top: 35px;
	padding-bottom: 110px;
}

.work-item{
		span{ font: 900 200px Roboto; color: $pink; }
		h5{ font: 400 28px Roboto; }
		p{ font: 400 16px Roboto; line-height: 17px; }
}

#city{
		p{ margin-bottom: 40px; }
}

.city{
	overflow: hidden;
	margin-bottom: 15px;
		a{ color: #333333; }
		img{ min-width: 100%; height: 100%; max-width: none; max-height: 295px; position: absolute; }
		.city-wrapper{ 
			position: relative;
			min-height: 295px; 
				.city-overlay{ position: absolute; bottom: 0px; padding-left: 30px; max-width: 350px; background: rgba(255,255,255,0.9); }
		}
}

@media (min-width: 1200px){
	.container {
    max-width: 1170px;
	}
}



